body {
  margin: 0;
}

.image {
  height: auto;
  width: 100%;
  margin: auto;
  position: relative;
}

.one {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

.two {
  animation-name: fadeIn;
  animation-duration: 10s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

.three {
  animation-name: fadeIn;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

.four {
  animation-name: fadeIn;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

.five {
  animation-name: fadeIn;
  animation-duration: 40s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

.six {
  animation-name: fadeIn;
  animation-duration: 50s;
  animation-fill-mode: forwards;
  z-index: 1;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
